@import "./const-file";

// Footer
div.footer{
    display: flex;
    height: 320px;
    background-color: $color_behind_img_target;
    border-top: 7px solid $color_border_footer;
    padding: 20px;
    ul.footer-menu{
        font-size: 13px;
        @include padding(15px, 15px, 15px, 15px);
        @include margine(0, 30px, 0, 50px);
        h5{
            @include padding(0, 0, 10px, 0);
            font-size: 16px;
            border-bottom: 1px solid $color_border_footer;
        }
        li{
            list-style: none;
            @include margine(0,0 ,12px , 0);
            @include transition(all, .5s, ease-in-out);
            &:hover{
                color: $color_hover_footer;
                padding-right: 5px;
            }
            a{
                font-size: 13px;
                text-decoration: none;
                color: $color_a_footer;
            }
        }
    }
}